/* HomePage.css */


.mainDivContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh !important;
  /* 100% of the viewport height */
}



/* Main container styles */
.mainDiv {
  /* flex: 1; */
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 20px 0;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* background-color: #f8f8f8 !important;  */
  font-family: Arial, sans-serif;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);  */
}

.navigate_cls {
  text-align: end;
}

/* Title styles */
.title_cls {
  text-align: center;
}

.title_cls h3 {
  font-size: 30px;
  margin-bottom: 20px;
  /* color: #333; */
  color: #ffffff;
  /* Dark gray text */
}

/* Input section styles */
.input-section {
  margin-bottom: 20px;
}

.input_div {
  width: 100%;
}

.submit_bttn {
  width: 100%;
  /* background-color: #9A3B3B !important;  */
  background-color: #8212cd !important;
  color: #fff;
  /* White text on the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px !important;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

/* List section styles */
.list-section ul {
  list-style-type: none;
  padding: 0;
}

.list-section li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff;  */
  background-color: #423a6f !important;
  padding: 10px;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
}

/* .list-section strong {
  font-weight: bold;
} */

.icon_button {
  color: white !important;
  padding-right: 20px !important;
}

.list-section .edit_bttn,
.list-section .delete_bttn {
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  border: none;
  /* background-color: transparent; */
  background-color: #ffffff;
  color: #ffffff !important;
}

/* Generate section styles */
.gnt-section {
  /* margin: 20px 0; */
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
}

.auto_select-button {
  width: 45%;
  background-color: #9A3B3B;
  /* Deep red button */
  color: #fff;
  /* White text on the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auto_select-button:hover {
  background-color: #218838;
}

/* Answer section styles */
.answer-section {
  text-align: center;
}

.answer-section h6 {
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
}

.answer_output {
  font-size: 25px;
  /* background-color: #ffffff;  */
  background-color: #423a6f;
  color: #ffffff;
  /* White answer background */
  /* border: 1px solid #ccc; */
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, .2);
}

.list-section {
  /* background-color: #423a6f !important; */
  color: #F8F9FA !important;

  overflow-y: hidden;
  /* Hide the vertical scrollbar */
  scrollbar-width: thin;
  /* "auto" or "thin" to style the scrollbar */
  scrollbar-color: transparent transparent;
  /* Scrollbar color (track color, thumb color) */
  max-height: 37vh;
  /* Adjust the height as needed */

}




.list-section::-webkit-scrollbar {
  width: 6px;
  /* Width of the scrollbar */
}

.list-section::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Color of the scrollbar thumb */
  border-radius: 3px;
  /* Rounded corners for the thumb */
}

.list-section::-webkit-scrollbar-track {
  background-color: transparent;
  /* Color of the scrollbar track */
}

.list-container {
  overflow-y: auto;
  max-height: 37vh;
  /* Adjust the height as needed */
}





/* Add this to your HomePage.css or another appropriate CSS file */
.list-container {
  height: auto;
  max-height: 37vh;
  /* Adjust the height as needed */
  overflow-y: auto;

}