/* HomePage.css */

.mainDivContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh !important;
  /* 100% of the viewport height */
}

/* Main container styles */
.mainDiv {
  /* flex: 1; */
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 20px 0;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.navigate_cls {
  text-align: end;
}

/* Title styles */
.title_cls {
  text-align: center;
}

.title_cls h3 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Input section styles */
.input-section {
  margin-bottom: 20px;
}

.input_div {
  width: 100%;
}

.submit_bttn {
  width: 100%;
  background-color: #8212cd !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px !important;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

/* List section styles */
.list-section ul {
  list-style-type: none;
  padding: 0;
}

.list-section li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #423a6f !important;
  padding: 10px;
}

.icon_button {
  color: white !important;
  margin-right: 10px !important;
  padding: 0 !important;
}

.list-section .edit_bttn,
.list-section .delete_bttn {
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  border: none;
  background-color: #ffffff;
  color: #ffffff !important;
}

.gnt-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
}

.auto_select-button {
  width: 45%;
  background-color: #9a3b3b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auto_select-button:hover {
  background-color: #218838;
}

.answer-section {
  text-align: center;
}

.answer-section h6 {
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
}

.answer_output {
  font-size: 25px;
  background-color: #423a6f;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
}

input[type='text'],
input[type='text']:focus {
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.list-section {
  color: #f8f9fa !important;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  max-height: 37vh;
}

.list-section::-webkit-scrollbar {
  width: 6px;
}

.list-section::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 3px;
}

.list-section::-webkit-scrollbar-track {
  background-color: transparent;
}

.list-container {
  overflow-y: auto;
  max-height: 37vh;
}

.list-container {
  height: auto;
  max-height: 37vh;
  overflow-y: auto;
}
.dialog_content {
  text-align: center;
  padding: 10px 0 0 0 !important;
}

.listitem_text {
  width: 290px;
  overflow-x: auto;
}

.typography_text {
  width: 90%;
}
