/* HomePage.css */

/* Main container styles */
.mainDiv {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  
}

/* Title styles */
.title_cls {
  text-align: center;
}

.title_cls h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Input section styles */
.input-section {
  margin-bottom: 20px;
}

.input_div {
  width: 100%;
}

.submit_bttn {
  /* width: 100%; */
  background-color: #8a3a18 !important; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px !important;
}

.submit_bttn:hover {
  background-color: #0056b3 !important;
}

/* List section styles */
.list-section ul {
  list-style-type: none;
  padding: 0;
}

.list-section li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.list-section strong {
  font-weight: bold;
}

.list-section .edit_bttn,
.list-section .delete_bttn {
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

/* Generate section styles */
.gnt-section {
  margin-bottom: 20px;
}

.auto_select-button {
  width: 100%;
  background-color: #a72889 !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auto_select-button:hover {
  background-color: #218838;
}

/* Answer section styles */
.answer-section {
  text-align: center;
}

.answer-section h6 {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}
